@{
    ViewBag.Title = "Home Page";
}

<h2>HOME</h2>
<ul>
    <li><a href="/Home/Index">Home-Index</a>
    </li>
  <li><a href="/Home/Links">Home-Links</a></li>
    <li><a href="/Stuff/Index">Stuff-Index</a></li>
    <li><a href="/Stuff/Links">Stuff-Links</a></li>
</ul>